################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenFolder/.vs/OpenFolder/v16
/OpenFolder/OpenFolder/bin/Debug
/OpenFolder/OpenFolder/Properties
/OpenFolder/OpenFolder/obj/Debug
